{% extends 'parties/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add New DVR|  تسجيل جديد {% endblock title %} 
{% block content %}


<div class="container mt-3" style='width: 95%; font-size: 14px'>




<!-- Message from backend [Success views.py] -->
<div class="text-center">
{% for message in messages %}
{% if message.tags == 'success' %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">{{message}}
        <a href=" {% url '/' %} " type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="close" ></a>
    </div>   
{% endif %}
{% endfor %}
</div>
<!-- End Message from backend -->

    <form method="POST" enctype="multipart/form-data" class=" mt-3" autocomplete="off" novalidate>
        {% csrf_token %}
        <!-- Card 1 -->
    <div class="card border-dark p-3">
        <span class="btn btn-secondary mb-4" style="cursor: default">
                &nbsp; &nbsp; | قم بإضافة مبنى |  &nbsp; &nbsp; 
        </span>
        <div class="row">
            <div class="col-4">{{ form.b_name|as_crispy_field }}</div>
            <div class="col-4">{{ form.stage|as_crispy_field }}</div>
            <div class="col-4">{{ form.it_support|as_crispy_field }}</div>
        
    </div>
    <br />
    <div><hr style="border: 1px solid #007bff;"></div>
    <button type="submit" class="btn btn-outline-primary mt-3" style="width: 90px">إضافة</button>
    
    

</form>
<!-- End Form -->

</div> <!--End container-->
<br >
<br >
<br >
<br >
{% endblock %}