{% extends 'parties/base.html' %}
{% load crispy_forms_tags %}
{% block title %}All DVR|جميع الاجهزة بالمبني{% endblock title %}
{% block content %}

<div class="container mt-3" style='width: 95%; font-size: 14px'>
  
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">اسم DVR</th>
        <th scope="col">عدد الكاميرات</th>
        <th scope="col">الدور</th>
        <th scope="col">المبنى</th>
        <th scope="col">IP</th>
        <th scope="col">تعديل</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for add in all_dvr1 %}
      <tr>
        <th scope="row">{{ add.name }}</th>
        <td>{{ add.ports }}</td>
        <td>{{ add.floor }}</td>
        <td>{{ add.build }}</td>
        <td>{{ add.ips }}</td>
        <td><a href="{% url 'follow_dvr' %}" class="btn btn-info btm-sm">متابعة الكاميرات</a></td>
        {% endfor %}            
      </tr>
    </tbody>
  </table>
<div class='text-center text-primary bg-warning'> 
  <h4> ============  المهندس المسؤل عن متابعة الكاميرات ============  </h4>
</div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">اسم المبني</th>
        <th scope="col">المرحلة </th>
        <th scope="col">المهندس المسؤل</th>
        
        
      </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for add in all_dvr2 %}
      <tr>
        <th >{{ add.b_name }}</th>
        <td>{{ add.stage }}</td>
        <td scope="row">{{ add.it_support }}</td>
        
        {% endfor %}            
      </tr>
    </tbody>
  </table>

 
      
</div> <!--End container-->
<br >
<br >
<br >
<br >
{% endblock %}