{% extends 'parties/base.html' %}
{% load crispy_forms_tags %}
{% block title %}All DVR|  إجمالي التقرير{% endblock title %}
{% block content %}

<div class="container mt-3" style='width: 95%; font-size: 14px'>
  
  <div class="card border-dark p-3">
    <span class="btn btn-secondary mb-4" style="cursor: default">
      تقرير إجمالي المباني بجميع DVR
    </span>
    <div class="card border-dark p-3">
      
    
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">اسم DVR</th>
        <th scope="col">نوعه </th>
        <th scope="col">عدد مخارج الصوت</th>
        <th scope="col">عدد مخارج الكاميرات</th>
        <th scope="col">عدد الكاميرات الفعلي</th>
        <th scope="col"> IP </th>
        <th scope="col"> مكان DVR</th>
        <th scope="col">ملاحظات</th>
        
      </tr>
    </thead>
    <tbody class="table-group-divider">

        {% for add in dvr_info %}
      <tr>
        <th scope="row">{{ add.dvr }}</th>
        <td>{{ add.dvr_typ }}</td>
        <td>{{ add.drv_mic }}</td>
        <td>{{ add.dvr_ports }}</td>
        <td>{{ add.dvr_cam_connect }}</td>
        <td>{{ add.dvr_ip }}</td>
        <td>{{ add.dvr_cam_place }}</td>
        <td>{{ add.dvr_notes }}</td>
        {% endfor %}            
      </tr>
    </tbody>
  </table> 

<!-- Add navigation links to the other pages -->
{% if follow_results.has_previous %}
  <a href="?page={{ follow_results.previous_page_number }}">Previous</a>
{% endif %}

{% for page in follow_results.paginator.page_range %}
  {% if page == follow_results.number %}
    {{ page }}
  {% else %}
    <a href="?page={{ page }}">{{ page }}</a>
  {% endif %}
{% endfor %}

{% if follow_results.has_next %}
  <a href="?page={{ follow_results.next_page_number }}">Next</a>
{% endif %}
</div>
      </div>
</div> <!--End container-->
<br >
<br >
<br >
<br >
{% endblock content %}

