{% extends 'parties/base.html' %}
{% load static %}
{% block title  %}Logout User{% endblock title %}
{% block content %}

<div class="container mt-5" style="width: 40%;">
        <div class="row mt-5">
        
            <div class="border bg-white p-3">
                <h3> صفحة تسجيل الخروج </h3>
                <hr>
                <div class="alert alert-danger">
                    <h4> تم تسجيل الخروج من النظام بنجاح </h4>
                </div>
                <a href="{% url 'user-login' %}">تسجيل الدخول مرة اخري</a>
            </div>
        
    </div>
</div>
{% endblock content %}