{% extends 'parties/base.html' %}
{% block title %}Profile Update Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">
                    صفحتي الخاصة
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="h4"> الصفحة الشخصية</span> 
                            <hr>
                            <form method="POST" enctype="multipart/form-data" class=" mt-3" autocomplete="off" novalidate>
                                {% csrf_token %}
                                <!-- Card 1 -->
                            <div class="card border-dark p-3">
                                <span class="btn btn-secondary mb-4" style="cursor: default">
                                        &nbsp; &nbsp; | قم بإضافة DVR |  &nbsp; &nbsp; 
                                </span>
                                <div class="row">
                                    <div class="col-4">{{ user_form|as_crispy_field }}</div>
                                    <div class="col-4">{{ profile_form|as_crispy_field }}</div>
                                </div>
                                <br />
                                <div><hr style="border: 1px solid #007bff;"></div>
                                <button type="submit" class="btn btn-outline-primary mt-3" style="width: 90px">تعديل البيانات</button>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



<!--End Table-->
{% endblock content %}